.App-header {
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* nav {
  width: 100%;
} */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: rgb(79, 161, 58);
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  position: sticky;
  top: 0;
}

.logo-part {
  display: flex;
  align-items: center;
}

.logo-part > img {
  width: 30px;
  margin-right: 10px;
}

.menu > img {
  width: 30px;
}

.bannernner {
  height: 200px;
}

.banner > img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.hero-text {
  margin: 50px;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  padding: 0 50px;
}

.card {
  height: 350px;
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
  margin: 20px;
}

.card--stats--up {
  font-size: 15px;
}

.card > img {
  width: 100%;
  object-fit: cover;
  max-height: 150px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.card--stats--up {
  padding: 10px;
}

.card--stats--up > img {
  width: 15px;
}

.card--stats--down {
  padding: 10px;
}
